<%= stylesheet_link_tag "first" %>
    <p>今あなたが抱えている悩みは次の選択肢のうち、どれに一番近いですか？</p>

<div class="box">
   <ul>
      <li>
         <%= link_to("複数の選択肢が頭の中に浮かんでいるが、その中から選択肢を絞ることができない","/a_1") %>
      </li>
      <li>
         <%= link_to("選択肢はすでに１つに絞れているが、何かが障壁になっていて実行に移すことができない","/b_1") %>
      </li>
      <li class="border-none">
         <%= link_to("そもそも選択肢が頭の中に浮かんでおらず、何をしていいのか分からないのが悩み","/c_1") %>
      </li>
   </ul>
</div>