<%= stylesheet_link_tag "first" %>
    <p>選択肢は明確ですか？</p>
  
<div class="box yes_no">
   <ul>
      <li>
          <%= link_to("YES","/a_2") %>
      </li>
      <li class="border-none">
         <%= link_to("NO","/a_5") %>
      </li>
   </ul>
</div>

