<%= stylesheet_link_tag "first" %>
    <p>今の段階で、それぞれの選択肢を選んだ時のメリットとデメリットは明確ですか？</p>
  

<div class="box yes_no">
   <ul>
      <li>
         <%= link_to("YES","/solved") %>
      </li>
      <li class="border-none">
         <%= link_to("NO","/a_3") %>
      </li>
   </ul>
</div>