<%= stylesheet_link_tag "first" %>
<p>今からメリットとデメリットを明確化するために行動できそうですか？</p>
  
<div class="box yes_no">
   <ul>
      <li>
          <%= link_to("YES","/solved") %>
      </li>
      <li class="border-none">
         <%= link_to("NO","/a_4") %>
      </li>
   </ul>
</div>
