<%= stylesheet_link_tag "solution" %>
<p id="solution">👑解決策一覧👑</p>
<div class="box solution">
   <ul>
      <li>
         <%= link_to("ヘビメタ系の曲を聞く","/final_question") %>
         <p class="message">＜解説＞<br>自分の気持を代弁してくれるような音楽を聞くことで今抱えている感情を客観視することができ、感情を落ち着かせることができます
         <br>詳しい解説：メンタリストDaigoのブログ「イライラを解消してくれる【ストレス解消音楽】がこちら」</p>
      </li>
      <li>
         <%= link_to("一人文通をする","/final_question") %>
         <p class="message">＜解説＞<br>一人文通の手順を説明します
         <br>①自分を怒らせた人に対して怒りの手紙を書く（丁寧な文にしようなどの心がけは必要なく、なぐり書きで大丈夫です。またここでは手紙と表現していますが、普通の紙でOKです）
         <br>②相手がそれを受け取って謝罪文を送ってくると仮定し、自分でその謝罪文を書く（要はその人の気持ちになりきって、その人が書きそうなことをイメージしながら自分で謝罪文を書く）
         <br>こうすることで相手側の気持ちを理解する余裕ができて、「まぁ相手もああいう状況だったから仕方がない」と思い、ストレスを軽減することができます</p>
      </li>
      <li class="border-none">
         <%= link_to("他の解決策を見る","/solution_list") %>
      </li>
   </ul>
</div>


