<%= stylesheet_link_tag "solution" %>
<p id="solution">👑解決策一覧👑</p>
<div class="box solution">
   <ul>
      <li>
         <%= link_to("2分間深呼吸する⇒焦りの感情をポジティブに捉える⇒他人のために何かする","/final_question") %>
         <p class="message">＜解説＞<br>今回解決策として３つの行動をセットにして紹介しているので、それぞれにわけて解説します
         <br>①まずは２分間深呼吸をすることで気持ちを落ち着かせます（ここを１分とかに縮めてしまうと効果が半減します）
         <br>②焦ることはネガティブに捉えられがちですが、実は「行動力が増す」というメリットがあります。なのでここでは「焦りはネガティブな効果だけではなくメリットももたらしてくれるから、焦ることは消して悪くないんだ」と考えるようにしましょう
         <br>③人間はどんなに焦っているときでも、誰かを助けるために自分の時間を使うと心に余裕がうまれ、「今自分は時間に余裕がある」と錯覚する性質があります
         <br>これら３つの行動を組み合わせることで約70％の焦りを削減できることが科学的な研究によって証明されています</p>
      </li>
      <li>
         <%= link_to("やるべきことを紙に箇条書きで全部書き出してみる","/final_question") %>
         <p class="message">＜解説＞<br>「やることが多すぎる！」と思っているときでも、実際にやるべきことを書き出してみると、頭の中で考えていたほどやるべきことの量が少ないことに気付くはずです</p>
      </li>
      <li class="border-none">
         <%= link_to("他の解決策を見る","/solution_list") %>
      </li>
   </ul>
</div>


 