<%= stylesheet_link_tag "solution" %>
<p id="solution">👑解決策一覧👑</p>
<div class="box solution">
   <ul>
       <li>
         <%= link_to("他人視点で今の自分の状況を見る","/final_question") %>
         <p class="message">＜解説＞<br>なぜこの方法は効果があるのかというと、例えば、渋谷のスクランブル交差点の横断歩道を渡っている時にすっ転んだ自分を想像してみてください。当事者本人からすると「多くの人にこんな姿見られて恥ずかしい！」と思うはずですが、それを見ていた他の人からすると「あーかわいそう」くらいにしか思われません。人間は自分が恥ずかしい経験をした時、異常に他人の目線を意識してしまいますが、それはほとんどの場合において気のせいです。他人視点になって自分を見ることでそれに気付き、恥じらいを軽減することができます
         <br>参考サイト：メンタリストDaigoのブログ：「陰キャのなおしかた〜人見知り改善の心理学」</p>
      </li>
      <li class="border-none">
         <%= link_to("他の解決策を見る","/solution_list") %>
      </li>
   </ul>
</div>
