<%= stylesheet_link_tag "solution" %>
<p id="solution">👑解決策一覧👑</p>
<div class="box solution">
   <ul>
      <li>
         <%= link_to("お笑いの動画を見たり、誰かと楽しい話をしたりすることで笑う","/final_question") %>
         <p class="message">＜解説＞<br>笑うことがストレスの解消に有効なのはなんとなく皆さん知っていると思います。原理を説明すると、笑うことが免疫力に関係するNK細胞の活性化を促し、その細胞がコルチゾールというストレスホルモンの分泌を抑えることによってストレスが軽減される、という仕組みです</p>
      </li>
      <li class="border-none">
         <%= link_to("他の解決策を見る","/solution_list") %>
      </li>
   </ul>
</div>

