// Place all the styles related to the first controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#come-on{
    font-family:"M PLUS 1p";
    text-align:center;
    font-size:50px;
    letter-spacing:10px;
    color:rgb(63, 178, 191);
    margin-top:150px;
}

.kaiketsu-button{
  font-size:30px;
  text-align:center;
}

p{
    color:white;
}
