
      
<%= stylesheet_link_tag "second" %>
    <p>障壁が何なのか明確化できていますか？</p>
  
<div class="box yes_no">
   <ul>
      <li>
          <%= link_to("YES","/b_2") %>
      </li>
      <li class="border-none">
         <%= link_to("NO","/b_3") %>
      </li>
   </ul>
</div>

