<%= stylesheet_link_tag "other" %>


<p>本当に実行できそうですか？</p>
  
<div class="box yes_no">
   <ul>
      <li>
          <%= link_to("YES（トップに戻る）","/") %>
      </li>
      <li class="border-none">
         <%= link_to("NO","/got_angry") %>
      </li>
   </ul>
</div>

