<%= stylesheet_link_tag "other" %>


<p id="red">はぁ？なんで実行できないの！？<br>あなたの悩みを解決するために私がどれだけ協力してあげたと思ってるの！？
               <br>これだけ頑張った私のためにも行動に移しなさいよ！！</p>
    <p class="ptag-margin">これで行動できそうですか？</p>
  
<div class="box yes_no">
   <ul>
      <li>
          <%= link_to("YES","/tell_the_truth") %>
      </li>
      <li class="border-none">
         <%= link_to("NO","/gave_up") %>
      </li>
   </ul>
</div>

