<%= stylesheet_link_tag "other" %>

      
<h2>おめでとう！悩み解決完了！</h2>
<p class="ptag-margin">本当に悩みを解決できましたか？</p>
<div class="box yes_no">
   <ul>
      <li>
          <%= link_to("YES（トップに戻る）","/") %>
      </li>
      <li class="border-none">
         <%= link_to("NO","/sorry") %>
      </li>
   </ul>
</div>

