<%= stylesheet_link_tag "other" %>     
　<div id="write-merit">
    <p>メリットは大きく２つあります。</p>
    <p class="margin-top">1.悩みを文字にすることで今の自分が置かれている状況を客観的に見ることができます。それによって冷静になることができ、気が楽になったり、解決策を思いつくこともあります</p>
    <p class="margin-top">2.悩んでいる時に、過去の悩み一覧ページで過去に悩んでいたことを見るとたまに「なーんだ。過去の自分はこんな小さなことで悩んでいたのか。当時の自分はその悩みを重く捉えていたけど、今となってみれば別にそこまで考え込む必要はなかったな（笑）。ん、、、？待てよ。過去の悩みがそんな大したことないなら今の悩みも客観的に考えればそんなに深く考え込む必要はないんじゃないか？」と思えることがあります。これによってだいぶ気をラクにすることができます</p>
  </div>    
<button><%= link_to("トップに戻る","/") %></button>  